.project {
    display: flex;
    flex-direction: column;
    transition: all 300ms ease;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
    flex-grow: 1;
    transform: min-height 200ms ease;

    &__img {
        width: 100%;
        position: relative;
        overflow: hidden;
        & > img{
            aspect-ratio: 2 / 1;
            width: 101%;
            height: 100%;
        }
    }

    &__header {
        padding-inline: 10px;
        margin-block: 12px;
        font-size: 1.25rem;
        color: var(--primary-color);
    }

    &__content {
        padding-inline: 10px;
        flex: 1 0 auto;
    }

    &__footer {
        padding: 10px;
        display: flex;
        gap: 5px;

        button,
        a {
            flex: 1;
            font-size: 0.8rem;

            svg {
                width: 18px;
                fill: #fff;
            }


            &:hover {
                filter: brightness(1.2);
            }

            &.disabled{
                pointer-events: visible;
                filter: brightness(0.7);
                cursor: not-allowed;
            }
        }
    }
}


:host {
    flex: calc(33% - 0.5rem);
    max-width: calc(33% - 0.5rem);
}