section{
    padding: 20px;
    padding-right: 0;
    max-width:992px;
    margin-inline: auto;
    display: block;

    p{
        margin-bottom: 30px;
    }

    h2{
        color: var(--primary-color);
    }
}