<ng-container *ngIf="currentProject$ | async as project">
    <div class="nav">
        <div (click)="closeModal()" class="icon">
            <div class="icon__wrapper">
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </div>
    </div>
    <div class="project-view">
        <div #wrapper class="project-view__wrapper">
            <div class="content">
                <div class="header">
                    <h2>
                        {{project.name}}
                    </h2>
                </div>
                <div class="info">
                    <div class="text">
                        <p *ngFor="let paragraph of project.paragraphs">
                            {{paragraph}}
                        </p>
                    </div>
                    <div class="tech">
                        <app-techs [techs]="project.techs"></app-techs>
                    </div>
                </div>
                <div class="images" [ngClass]="{'two-columns':project.twoCols}">
                    <img appLazyLoad loading="lazy" class="img default-box-shadow" *ngFor="let img of project.images" [src]="img" />
                </div>
            </div>
        </div>
    </div>
</ng-container>